@media (max-width:1199px){
    :root{
        --text-font-1: 10px;
    --text-font-2: 12px;
    --text-font-3: 14px;
    --text-font-4: 16px;
    --text-font-5: 18px;
    --text-font-6: 20px;
    --text-font-7: 23px;
    --text-font-8: 25px;
    --text-font-9: 28px;
    --text-font-10: 30px;
    --text-font-11: 35px;
    --text-font-12: 40px;
    }
    .aside{
        left: -315px;
    }
    .main-content{
        padding-left: 0;
        margin-left: 0;
    }
    .aside .nav-toggler{
        display: block;
        left: 20px;
        top: 20px;
    }
    .home .home-img img{
        height: 250px;
    }
}

@media (max-width:768px){
    :root{
    --text-font-1: 8px;
    --text-font-2: 10px;
    --text-font-3: 12px;
    --text-font-4: 14px;
    --text-font-5: 16px;
    --text-font-6: 18px;
    --text-font-7: 20px;
    --text-font-8: 23px;
    --text-font-9: 25px;
    --text-font-10: 28px;
    --text-font-11: 30px;
    --text-font-12: 35px;
    }
    .icons a .icon-layer span.fab{
        line-height: 40px;
    }
    .popup-project-container{
        width: 80%;
    }
    .project-box{
        width: 45%;
    }
    .home .home-info{
        flex: 0 0 90%;
        max-width: 90%;
    }
    .home-container{
        flex-direction: row;
    }
    .home .home-img img{
        height: 250px;
        margin: 30px;
    }
    .home-img::after{
        right: -40px;
        bottom: 6px;
    }
    .home-img::before{
        left: -6px;
        top: -6px;
    }
    .service-item{
        flex: 0 0 70%;
        max-width: 70%;
    }
}


@media (max-width:428px){
    :root{
    --text-font-1: 8px;
    --text-font-2: 8px;
    --text-font-3: 10px;
    --text-font-4: 12px;
    --text-font-5: 14px;
    --text-font-6: 16px;
    --text-font-7: 18px;
    --text-font-8: 20px;
    --text-font-9: 23px;
    --text-font-10: 25px;
    --text-font-11: 28px;
    --text-font-12: 30px;
    }
    .icons a .icon-layer span.fab{
        line-height: 35px;
    }
    .popup-project-container{
        width: 90%;
    }
    .skill-box-section{
        flex: 0 0 90%;
        max-width: 90%;
    }
    .project-box{
        width: 80%;
    }
    .home .home-info{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .home .home-img{
        display: none;
    }
    .section{
        padding-bottom: 0%;
    }
    .service-item{
        flex: 0 0 85%;
        max-width: 85%;
    }
    .service-item-info p{
        line-height: 15px;
    }
    .about-content p{
        line-height: 20px;
    }
    .section{
        padding: auto 10px;
        padding-bottom: 20px;
    }
    .contact-form{
        flex: 0 0 90%;
    }
    .contact-form .form-item{
        flex: 0 0 90%;
        max-width: 90%;
    }
    .form-control{
        height: 35px;
    }
    textarea.form-control{
        height: 100px;
    }
    .contact-block{
        width: 45%;
        height: auto;
    }
    .service-item-info .icon{
        margin: 0% auto;
    }
    .style-switcher{
        width: 150px;
        padding: 5px;
    }
    .style-switcher .s-icon{
        height: 25px;
        width: 25px;
        font-size: 15px;
    }
    .day-night{
        top: 35px;
    }
    .s-icon i{
        line-height: 25px;
    }
    .style-switcher .colors span{
        display: inline-block;
        height: 15px;
        width: 15px;
    }
    .aside .nav-toggler{
        height: 20px;
        width: 25px;
    }
    .aside .nav-toggler span{
        height: 1px;
        width: 12px;
        left: 6px;
        top: -7px;
    }
    .aside .nav-toggler span::before{
        height: 2px;
        width: 12px;
        top: -5px;
        left: 0;
    }
    .aside .nav-toggler span::after{
        height: 1.5px;
        width: 12px;
        top: 4px;
        left: 0;
    }
}


