@media (max-width:1199px){
    :root{
        --h1-text: 40px;
        --h2-text: 35px;
        --h3-text: 30px;
        --h4-text: 25px;
        --h5-text: 20px;
        --h6-text: 16px;
        --p-text: 16px;
    }
    .aside{
        left: -315px;
    }
    .main-content{
        padding-left: 0;
        margin-left: 0;
    }
    .aside .nav-toggler{
        display: block;
        left: 20px;
        top: 20px;
    }
    .home .home-img img{
        height: 250px;
    }
}

@media (max-width:768px){
    :root{
        --h1-text: 35px;
        --h2-text: 30px;
        --h3-text: 25px;
        --h4-text: 20px;
        --h5-text: 18px;
        --h6-text: 14px;
        --p-text: 14px;
    }
    .icons a .icon-layer span.fab{
        line-height: 40px;
    }
    .popup-project-container{
        width: 80%;
    }
    .project-box{
        width: 45%;
    }
    .home .home-info{
        flex: 0 0 90%;
        max-width: 90%;
    }
    .home-container{
        flex-direction: row;
    }
    .home-img{
        margin-top: 30px;
    }
    .home .home-img img{
        height: 350px;
        margin: 30px;
    }
    .home-img::after{
        right: -40px;
        bottom: 6px;
    }
    .home-img::before{
        left: -6px;
        top: -6px;
    }
    .service-item{
        flex: 0 0 70%;
        max-width: 70%;
    }
}

@media (max-width:426px){
    :root{
        --h1-text: 30px;
        --h2-text: 25px;
        --h3-text: 20px;
        --h4-text: 18px;
        --h5-text: 16px;
        --h6-text: 14px;
        --p-text: 12px;
    }
    .hello{
        margin: 0;
    }
    .my-profession{
        margin: 10px 0;
    }
    .hello span{
        display: block;
    }
    .about{
        padding: 30px;
    }
    .icons a .icon-layer span.fab{
        line-height: 35px;
    }
    .popup-project-container{
        width: 90%;
    }
    .skill-box-section{
        flex: 0 0 90%;
        max-width: 90%;
    }
    .project-box{
        flex: 0 0 95%;
        max-width: 95%;
    }
    .project{
        padding: auto 20px;
    }
    .home .home-info{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .contact-container{
        margin-bottom: 30px;
    }
    .home .home-img{
        display: none;
    }
    .section{
        padding-bottom: 0%;
    }
    .service-item{
        flex: 0 0 80%;
        max-width: 80%;
    }
    .service-item-info p{
        line-height: 15px;
    }
    .about-content p{
        line-height: 20px;
    }
    .section{
        padding: auto 10px;
        padding-bottom: 20px;
    }
    .contact-form{
        flex: 0 0 90%;
    }
    .contact-form .form-item{
        flex: 0 0 90%;
        max-width: 90%;
    }
    .form-control{
        height: 30px;
    }
    textarea.form-control{
        height: 100px;
    }
    .contact-block{
        width: 50%;
        height: auto;
    }
    .service-item-info .icon{
        margin: 0% auto;
    }
    .style-switcher{
        width: 150px;
        padding: 5px;
    }
    .style-switcher .s-icon{
        height: 25px;
        width: 25px;
        font-size: 15px;
    }
    .day-night{
        top: 35px;
    }
    .s-icon i{
        line-height: 25px;
    }
    .style-switcher .colors span{
        display: inline-block;
        height: 15px;
        width: 15px;
    }
    .education-box{
        border-left: none;
        margin-left: 0%;
    }
    .education-content{
        padding-left: none;
    }
    .education-content::before{
        display: none;
    }
    .btn{
        padding: 10px 25px;
    }
    .resume{
        justify-content: space-evenly;
    }
    .project-btn{
        font-size: 10px;
    }
    .project-content h6{
        font-size: 10px;
    }
    .popup-service{
        padding: 0%;
    }
    .popup-service-container{
        width: 80%;
    }
}

@media (max-width:376px){
    .info-item span{
        display: block;
    }
    .project-box{
        max-width: 95%;
    }
    .project{
        padding: 30px;
    }
    .popup-service{
        padding: 0%;
    }
    .popup-service-container{
        width: 90%;
    }
}
